<launch>
  <arg name="num_vehicles" default="3" />
  <arg name="enable_platooning" default="false" />
  <arg name="enable_bev_pipeline" default="true" />
  <arg name="enable_heading_fuser" default="false" />
  <!-- raw camera BEV vs fused heading BEV -->
  <arg name="bev_topic_raw" default="/bev_info_raw" />
  <arg name="bev_topic_teleport" default="/bev_info_raw" />
  <arg name="udp_port" default="60050" />
  <arg name="tm_signals_yaml" default="$(find traffic_manager)/config/traffic_signals.yaml" />
  <arg name="tm_publish_hz" default="10.0" />
  <arg name="enable_status_udp" default="true" />  

  <!-- 인지 서버 정보 -->
  <arg name="status_udp_port" default="60070" />
  <arg name="status_udp_dest_ip" default="192.168.0.200" />
  
  <!-- Vehicle IPs (논리 ID 순서) -->
  <arg name="vehicle_1_ip" default="192.168.0.11" />
  <arg name="vehicle_2_ip" default="192.168.0.17" />
  <arg name="vehicle_3_ip" default="192.168.0.18" />
  <arg name="vehicle_4_ip" default="192.168.0.19" />
  <arg name="vehicle_5_ip" default="192.168.0.15" />
  <arg name="vehicle_6_ip" default="10.10.103.106" />

  <!-- Teleporter -->
  <include if="$(arg enable_bev_pipeline)" file="$(find capstone_bringup)/launch/bev_id_teleporter_simple.launch">
    <arg name="num_vehicles" value="$(arg num_vehicles)" />
    <arg name="bev_topic" value="$(arg bev_topic_teleport)" />
  </include>

  <!-- Planner + Controller + Visualization -->
  <include file="$(find capstone_bringup)/launch/conflict_free_system_simple.launch">
    <arg name="enable_platooning" value="$(arg enable_platooning)" />
    <arg name="num_vehicles" value="$(arg num_vehicles)" />
    <arg name="enable_manual_goal" value="false" />
    <arg name="enable_bev_tracking_hold" value="$(arg enable_bev_pipeline)" />
    <arg name="enable_bev_pipeline" value="$(arg enable_bev_pipeline)" />
    <arg name="enable_heading_fuser" value="$(arg enable_heading_fuser)" />
    <arg name="bev_topic_raw" value="$(arg bev_topic_raw)" />
    <arg name="bev_topic_teleport" value="$(arg bev_topic_teleport)" />
    <arg name="vehicle_1_ip" value="$(arg vehicle_1_ip)" />
    <arg name="vehicle_2_ip" value="$(arg vehicle_2_ip)" />
    <arg name="vehicle_3_ip" value="$(arg vehicle_3_ip)" />
    <arg name="vehicle_4_ip" value="$(arg vehicle_4_ip)" />
    <arg name="vehicle_5_ip" value="$(arg vehicle_5_ip)" />
    <arg name="vehicle_6_ip" value="$(arg vehicle_6_ip)" />
  </include>
  
  <!-- BEV inference UDP 수신 -->
  <!-- <node if="$(arg enable_bev_pipeline)"
        pkg="perception"
        type="inference_receiver.py"
        name="inference_receiver"
        output="screen">
    <param name="udp_ip" value="0.0.0.0" />
    <param name="udp_port" value="$(arg udp_port)" />
    <param name="allowed_classes" value="0" />
    <param name="topic" value="$(arg bev_topic_raw)" />
  </node> -->
  
  <!-- Traffic manager (signals publisher + UI) -->
  <include file="$(find traffic_manager)/launch/traffic_manager.launch">
    <arg name="signals_yaml" value="$(arg tm_signals_yaml)" />
    <arg name="publish_hz" value="$(arg tm_publish_hz)" />
    <arg name="num_vehicles" value="$(arg num_vehicles)" />
  </include>
  
  <!-- Status UDP broadcaster -->
  <node if="$(arg enable_status_udp)"
        pkg="capstone_msgs"
        type="udp_status_broadcaster.py"
        name="udp_status_broadcaster"
        output="screen">
    <param name="dest_ip" value="$(arg status_udp_dest_ip)" />
    <param name="port" value="$(arg status_udp_port)" />
    <param name="num_vehicles" value="$(arg num_vehicles)" />
    <param name="uplink_topic" value="/uplink" />
    <param name="path_topic_prefix" value="/global_path_" />
    <param name="vehicle_ips" value="[ '$(arg vehicle_1_ip)', '$(arg vehicle_2_ip)', '$(arg vehicle_3_ip)', '$(arg vehicle_4_ip)', '$(arg vehicle_5_ip)', '$(arg vehicle_6_ip)' ]" />
    <param name="hw_ip_prefix" value="192.168.0." />
    <param name="hw_ip_offset" value="10" />
  </node>

  <!-- RC UDP senders (simple) -->
  <include file="$(find capstone_bringup)/launch/udp_ackermann_senders_simple.launch">
    <arg name="num_vehicles" value="$(arg num_vehicles)" />
    <arg name="vehicle_1_ip" value="$(arg vehicle_1_ip)" />
    <arg name="vehicle_2_ip" value="$(arg vehicle_2_ip)" />
    <arg name="vehicle_3_ip" value="$(arg vehicle_3_ip)" />
    <arg name="vehicle_4_ip" value="$(arg vehicle_4_ip)" />
    <arg name="vehicle_5_ip" value="$(arg vehicle_5_ip)" />
    <arg name="vehicle_6_ip" value="$(arg vehicle_6_ip)" />
  </include>
</launch>


