<launch>
  <arg name="num_vehicles" default="3" />
  <arg name="enable_platooning" default="false" />
  <arg name="enable_bev_pipeline" default="true" />
  <arg name="enable_heading_fuser" default="false" />
  <!-- raw camera BEV vs fused heading BEV -->
  <arg name="bev_topic_raw" default="/bev_info_raw" />
  <arg name="bev_topic_teleport" default="/bev_info_raw" />
  <arg name="udp_port" default="60050" />
  <arg name="enable_traffic_manager" default="true" />
  <arg name="tm_signals_yaml" default="$(find traffic_manager)/config/traffic_signals.yaml" />
  <arg name="tm_publish_hz" default="10.0" />

  <!-- Teleporter -->
  <include if="$(arg enable_bev_pipeline)" file="$(find capstone_bringup)/launch/bev_id_teleporter_simple.launch">
    <arg name="num_vehicles" value="$(arg num_vehicles)" />
    <arg name="bev_topic" value="$(arg bev_topic_teleport)" />
  </include>

  <!-- Planner + Controller + Visualization -->
  <include file="$(find capstone_bringup)/launch/conflict_free_system_simple.launch">
    <arg name="enable_platooning" value="$(arg enable_platooning)" />
    <arg name="num_vehicles" value="$(arg num_vehicles)" />
    <arg name="enable_manual_goal" value="false" />
    <arg name="enable_bev_tracking_hold" value="$(arg enable_bev_pipeline)" />
    <arg name="enable_bev_pipeline" value="$(arg enable_bev_pipeline)" />
    <arg name="enable_heading_fuser" value="$(arg enable_heading_fuser)" />
    <arg name="bev_topic_raw" value="$(arg bev_topic_raw)" />
    <arg name="bev_topic_teleport" value="$(arg bev_topic_teleport)" />
  </include>
  <!-- BEV inference UDP 수신 -->
  <node if="$(arg enable_bev_pipeline)"
        pkg="perception"
        type="inference_receiver.py"
        name="inference_receiver"
        output="screen">
    <param name="udp_ip" value="0.0.0.0" />
    <param name="udp_port" value="$(arg udp_port)" />
    <param name="allowed_classes" value="0" />
    <param name="topic" value="$(arg bev_topic_raw)" />
  </node>
  <!-- Traffic manager (signals publisher + UI) -->
  <include if="$(arg enable_traffic_manager)" file="$(find traffic_manager)/launch/traffic_manager.launch">
    <arg name="signals_yaml" value="$(arg tm_signals_yaml)" />
    <arg name="publish_hz" value="$(arg tm_publish_hz)" />
    <arg name="num_vehicles" value="$(arg num_vehicles)" />
  </include>
  <!-- RC UDP senders (simple) -->
  <include file="$(find capstone_bringup)/launch/udp_ackermann_senders_simple.launch">
    <arg name="num_vehicles" value="$(arg num_vehicles)" />
  </include>
</launch>


