# Catkin/ROS build artifacts
build/
devel/
logs/
install/

# CMake/Make
**/CMakeFiles/
**/cmake_install.cmake
**/CMakeCache.txt
**/Makefile

# Python
__pycache__/
*.pyc

# Editors/OS
.vscode/
.idea/
.DS_Store
*.bag
*.onnx
src/perception/engine/

.catkin_tools/
dataset/
src/perception/scripts/
