<launch>
  <!-- Simple Goal Logger - 마우스 클릭 좌표 출력 -->
  <node pkg="carla_camera_stream" 
        type="click_coordinate.py" 
        name="click_coordinate" 
        output="screen" />
  
  <!-- RViz 실행 (선택사항) -->
  <node pkg="rviz" 
        type="rviz" 
        name="rviz" 
        args="-d $(find carla_camera_stream)/config/map.rviz"
        output="screen" 
        required="false" />
</launch>