<launch>
  <arg name="topic" default="/bev_info" />
  <arg name="max_vehicle_count" default="1" />
  <arg name="role_names" default="" />
  <arg name="yaw_in_degrees" default="false" />
  <arg name="snap_to_waypoint_height" default="true" />
  <arg name="default_z" default="0.5" />
  <arg name="z_offset" default="0.0" />
  <arg name="carla_host" default="localhost" />
  <arg name="carla_port" default="2000" />
  <!-- Matching and safety tuning -->
  <arg name="enable_matching" default="true" />
  <arg name="w_pos" default="1.0" />
  <arg name="w_yaw" default="0.3" />
  <arg name="dist_gate_m" default="10.0" />
  <arg name="yaw_gate_deg" default="60.0" />
  <arg name="hold_sec" default="0.5" />
  <arg name="ttl_sec" default="3.0" />
  <arg name="max_teleport_distance_m" default="20.0" />
  <arg name="teleport_yaw_gate_deg" default="160.0" />
  <arg name="teleport_stability_warmup_sec" default="0.2" />
  <arg name="enable_yaw_flip" default="true" />
  <arg name="yaw_flip_threshold_deg" default="150.0" />

  <node pkg="carla_multi_vehicle_planner"
        type="bev_id_teleporter.py"
        name="bev_id_teleporter"
        output="screen">
    <param name="topic" value="/bev_info" />
    <!-- <param name="topic" value="/perception/bev_info" /> -->
    <param name="max_vehicle_count" value="$(arg max_vehicle_count)" />
    <param name="role_names" value="$(arg role_names)" />
    <param name="yaw_in_degrees" value="$(arg yaw_in_degrees)" />
    <param name="snap_to_waypoint_height" value="$(arg snap_to_waypoint_height)" />
    <param name="default_z" value="$(arg default_z)" />
    <param name="z_offset" value="$(arg z_offset)" />
    <param name="carla_host" value="$(arg carla_host)" />
    <param name="carla_port" value="$(arg carla_port)" />
    <!-- Matching and safety params -->
    <param name="enable_matching" value="$(arg enable_matching)" />
    <param name="w_pos" value="$(arg w_pos)" />
    <param name="w_yaw" value="$(arg w_yaw)" />
    <param name="dist_gate_m" value="$(arg dist_gate_m)" />
    <param name="yaw_gate_deg" value="$(arg yaw_gate_deg)" />
    <param name="hold_sec" value="$(arg hold_sec)" />
    <param name="ttl_sec" value="$(arg ttl_sec)" />
    <param name="max_teleport_distance_m" value="$(arg max_teleport_distance_m)" />
    <param name="teleport_yaw_gate_deg" value="$(arg teleport_yaw_gate_deg)" />
    <param name="teleport_stability_warmup_sec" value="$(arg teleport_stability_warmup_sec)" />
    <param name="enable_yaw_flip" value="$(arg enable_yaw_flip)" />
    <param name="yaw_flip_threshold_deg" value="$(arg yaw_flip_threshold_deg)" />
  </node>
</launch>


