<launch>
  <arg name="num_vehicles" default="3" />
  <arg name="include_collision_avoidance" default="true" />

  <node pkg="carla_multi_vehicle_planner" type="multi_vehicle_spawner.py" name="multi_vehicle_spawner" output="screen">
    <param name="num_vehicles" value="$(arg num_vehicles)" />
    <param name="enable_autopilot" value="false" />
    <param name="vehicle_model" value="vehicle.vehicle.coloredxycar" />
    <param name="target_speed" value="10.0" />
  </node>

  <node pkg="carla_multi_vehicle_planner" type="networkx_path_planner.py" name="networkx_path_planner" output="screen">
    <env name="PYTHONPATH" value="$(find carla_multi_vehicle_planner)/scripts:$(optenv PYTHONPATH)" />
    <param name="num_vehicles" value="$(arg num_vehicles)" />
    <!-- Disable time-aware scheduling: independent per-vehicle path planning only -->
    <param name="enable_time_aware_planning" value="false" />
    <param name="global_route_resolution" value="1.0" />
    <param name="path_sampling" value="0.3" />
    <param name="min_destination_distance" value="30.0" />
    <param name="destination_retry_limit" value="80" />
    <param name="start_k_candidates" value="40" />
    <param name="start_search_radius" value="5.0" />
    <param name="start_search_radius_max" value="15.0" />
    <param name="start_heading_deg" value="30.0" />
    <param name="max_destination_distance" value="140.0" />
    <param name="override_preempt_min_dist" value="6.0" />
    <param name="start_join_max_gap_m" value="5.0" />
    <param name="path_update_interval" value="0.5" />
    <param name="replan_remaining_m" value="60.0" />
    <param name="replan_cooldown_sec" value="2.0" />
    <!-- Time-aware scheduling parameters -->
    <param name="reservation_dt" value="0.2" />
    <param name="reservation_nominal_speed" value="2.78" />
    <param name="reservation_buffer_time" value="0.6" />
    <param name="reservation_wait_max" value="6.0" />
    <!-- 0 = unlimited horizon to avoid long-route failures -->
    <param name="reservation_horizon" value="0.0" />
    <param name="reservation_proximity_resolution" value="1.0" />
    <!-- Enable debug traces inside time-aware planner -->
    <param name="/networkx_path_planner/schedule_debug" value="true" />
  </node>

  <node pkg="carla_multi_vehicle_planner" type="multi_vehicle_controller.py" name="multi_vehicle_controller" output="screen">
    <param name="num_vehicles" value="$(arg num_vehicles)" />
    <param name="lookahead_distance" value="4.0" />
    <param name="target_speed" value="2.78" />
  </node>

  <node pkg="carla_multi_vehicle_planner" type="bev_visualizer.py" name="bev_visualizer" output="screen">
    <param name="max_vehicle_count" value="6" />
    <param name="update_rate" value="2.0" />
  </node>

  <node pkg="carla_multi_vehicle_planner" type="path_relay.py" name="path_relay" output="screen">
    <param name="num_vehicles" value="$(arg num_vehicles)" />
  </node>
</launch>
