<launch>
  <node pkg="carla_multi_vehicle_planner" type="multi_vehicle_spawner.py" name="multi_vehicle_spawner" output="screen">
    <param name="num_vehicles" value="6" />
    <param name="enable_autopilot" value="true" />
    <param name="vehicle_model" value="vehicle.vehicle.coloredxycar" />
    <param name="target_speed" value="10.0" />
    <param name="spawn_delay" value="0.5" />
  </node>
</launch>


