<launch>
  <arg name="num_vehicles" default="3" />
  <arg name="send_hz" default="30.0" />
  <arg name="drop_stale_sec" default="0.3" />
  <arg name="send_zero_on_missing" default="false" />
  <!-- Optional per-vehicle IPs (1~6). Default localhost. -->
  <arg name="vehicle_1_ip" default="127.0.0.1" />
  <arg name="vehicle_2_ip" default="127.0.0.1" />
  <arg name="vehicle_3_ip" default="127.0.0.1" />
  <arg name="vehicle_4_ip" default="127.0.0.1" />
  <arg name="vehicle_5_ip" default="127.0.0.1" />
  <arg name="vehicle_6_ip" default="127.0.0.1" />

  <node pkg="carla_multi_vehicle_control"
        type="simple_udp_ackermann_sender.py"
        name="udp_ackermann_sender"
        output="screen">
    <param name="num_vehicles" value="$(arg num_vehicles)" />
    <param name="send_hz" value="$(arg send_hz)" />
    <param name="drop_stale_sec" value="$(arg drop_stale_sec)" />
    <param name="send_zero_on_missing" value="$(arg send_zero_on_missing)" />
    <!-- Map per-vehicle destination IPs -->
    <rosparam subst_value="true">
      vehicles:
        ego_vehicle_1:
          dest_ip: $(arg vehicle_1_ip)
        ego_vehicle_2:
          dest_ip: $(arg vehicle_2_ip)
        ego_vehicle_3:
          dest_ip: $(arg vehicle_3_ip)
        ego_vehicle_4:
          dest_ip: $(arg vehicle_4_ip)
        ego_vehicle_5:
          dest_ip: $(arg vehicle_5_ip)
        ego_vehicle_6:
          dest_ip: $(arg vehicle_6_ip)
    </rosparam>
  </node>
</launch>

